.d-flex {
  display: flex;
}

.wrapper {
  padding: 15px;
  border-radius: 10px;
  background-color: "white";
  margin-bottom: 10px;
  display: flex;
}

.grid-col-0_5 {
    width: 4.17%;
}

.grid-col-1 {
    width: 8.33%;
}

.grid-col-1_5 {
    width: 12.5%;
}

.grid-col-2 {
    width: 16.66%;
}

.grid-col-2_4 {
    width: 20%;
}

.grid-col-3 {
    width: 25%;
}

.grid-col-3_5 {
    width: 29.17%;
}

.grid-col-3_6 {
    width: 30%;
}

.grid-col-4 {
    width: 33.33%;
}

.grid-col-5 {
    width: 41.67%;
}

.grid-col-6 {
    width: 50%;
}

.grid-col-7 {
    width: 58.33%;
}

.grid-col-8 {
    width: 66.67%;
}

.grid-col-9 {
    width: 75%;
}

.grid-col-9_6 {
    width: 80%;
}

.grid-col-10 {
    width: 83.33%;
}

.grid-col-11 {
    width: 91.67%;
}

.grid-col-12 {
    width: 100%;
}